
*{
    box-sizing: border-box;
}
.container{
    width: 100%;
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}

/* *:focus{
    outline: #FF7500 dotted 4px;
    outline-offset: 3px;
} */
body{
    
    margin: 0;
    padding: 0;
}

.sayt-header{
    background-color: #fff;
    
    padding-top: 16px;
    padding-bottom: 16px;
    
    border-top: 5px solid #FF7500;
    
}
.sayt-header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sayt-header-actions{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.logo-link{
    transition: opacity 0.4s ease;
}
.logo-link:hover{
    opacity: 0.8;
}
.sayt-nav{
    background-color: #fff;
}
.saytnav--links{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-right: 32px;
    
}
.saytnav-item{
    margin-right: 32px;
}
.saytnav-item:last-child{
    margin-right: 0;
}

.saytnav--link{
    font-style: normal;
    font-family: Roboto;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    transition: color 0.4s ease, opacity 0.6s ease;
    
}
.saytnav--link:hover{
    color: #FF7500;
}
.main-links{
    display: inline-block;
    border-radius: 4px;
    padding: 12px 24px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.5px;
    background: #FF7500;
    color: #FFFFFF;
    text-decoration: none;
    transition: opacity 0.4s ease;
}
.main-links:hover{
    opacity: 0.8;
}
.main-links:active{
    opacity: 0.6;
}
.hero{
    background: #252420;
    color: #fff;
    
    padding-top: 80px;
    padding-bottom: 80px;
}

.hero-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-line{
    width: 80px;
    height: 3px;
    background: #FF7500;
    border: none;
    margin: 0;
    margin-bottom: 40px;
}
.hero-content{
    width: 390px;
}
.hero-img
{
    width: 510px;
    height: 510px;
    border-radius: 8px;
    box-shadow: 24px 24px 0 0 rgba(255, 117, 0, 0.6);
}
.hero-heading{
    margin-top: 0;
    margin-bottom: 24px;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}
.hero-text{
    margin-top: 0;
    margin-bottom: 32px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}
.features{
    padding-top: 210px;
    padding-bottom: 210px;
}
.features-heading{
    margin-top: 0;
    margin-bottom: 72px;
    width: 440px;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 120%;  
    letter-spacing: 0.5px;
    color: #000000;
}
.features-icon-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background: rgba(255, 117, 0, 0.2);
}
.features-title{
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0.5px;
    color: #000000;
}
.features-info{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.5px;
    color: #000000;
}
.features-items{
    display: flex;
    /* justify-content: space-between; */
    list-style: none;
    padding: 0;
    margin: 0;
}

.features-item{
    width: 340px;
    /* height: 245px; */
    margin-right: 40px;
}
.features-item:last-child{
    margin: 0;
}
/* promo */
.promo {
    /* padding-top: 120px; */
    padding-bottom: 160px;
}

.promo-inner{
    padding: 64px;
    background: #252420;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.promo-content{
    width: 440px;
    height: 291px;
}
.promo-heading{
    margin-top: 0;
    margin-bottom: 24px;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}
.promo-info-wrapper{
    margin-bottom: 24px;
}
.promo-text{
    margin-top: 0;
    margin-bottom: 12px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}
.promo-text:last-child{
    margin-bottom: 0;
}
.promo-highligh{
    color: #FF7500;
}
.promo-img{
    width: 440px;
    height: 440px;
    object-fit: cover;
    border-radius: 12px;
    background-color: #000;
}
.site-footer{
    width: 100%;
    height: 507px;
    padding-top: 56px;
    padding-bottom: 56px;
    background: #F8F8F8;
}
.site-footer-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.socials{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin: 0;
    padding: 0;
}
/* img block */
.socials li{
    margin-right: 16px;
}
.socials li:last-child{
    margin-right: 0;
}
.socials svg{
    display: block;
}

.socials a{
    color: #252420;
    display: block;
}
.socials a:hover{
    color:#FF7500;
}
.socials a:active{
    color: #FF7500;
    opacity: 0.6;
}
.site-footer-divider{
    background: rgba(37, 36, 32, 0.5);
    height: 2px;
    border: 0;
    margin-top: 40px;
    margin-bottom: 64px;
    
}
.site-footer ul{
    list-style: none;
    padding: 0;
}
.site-footer-links{
    width: 224px;
    padding: 0;
    margin: 0;
    margin-right: 68px;
    list-style:none ;
    line-height: 19px;
}
.site-footer-links li{
    margin-bottom: 16px;
}
.site-footer-links li:last-child{
    margin-bottom: 0;
}
.site-footer-links:last-child{
    margin-right: 0;
}
.site-footer-links a{
    text-decoration: none;
    color: #252420;
}
.site-footer-links a:hover{
    color: #FF7500;
}
.site-footer-links a:active{
    opacity: 0.6;
}

.site-footer-bottom{
    display: flex;
    justify-content: space-between;
}